.cart {
    background-color: white;
    border: solid grey 1px;
    position: absolute;
    top: 15%;
    z-index: 2;
    width: 40%;
    height: 60%;
    overflow: auto;
    display: flex;
}

.cart__products {
    margin: auto;
    width: 80%;
}

.cart__close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
}

.cart__close-button:hover{
    cursor: pointer;
    background: tomato;
}

.cart_empty {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart_empty-icon {
    width: 200px;
    height: 200px;
}

.cart__item {
    border-bottom: solid grey 1px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__order-button {
    margin-top: 10px;
    outline: none;
}
