.cart-product {
    border-bottom: 1px solid grey;
    display: flex;
}

.cart-product__image {
    width: 90px;
    height: 60px;
}

.cart-product__item {
    height: 90px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 1.2em;
}

.cart-product__remove-button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
}

.cart-product__remove-button:hover {
    cursor: pointer;
}
