.product {
    margin: 10px;
    border: 1px solid lightblue;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.add-cart-button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(2, 158, 36);
}

.product-info-item {
    text-align: center;
    margin-top: 5px;
}

.product__image {
    width: 150px;
    height: 100px;
}