.header {
    border: gray 1px solid;
}

.header__item {
    display: inline-block;
    margin: 10px;
}

.header__title {
    font-size: 2em;
    font-weight: bold;
}

.header__cart {
    float: right;
}

.header__cart-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header__cart-icon {
    width: 25px;
    height: 25px;
}
